@media(max-width: 600px) {
  nav {
    padding: 0;
  }

  nav .container {
    display: block;
  }

  nav h1 {
    text-align: center;
    padding: 10px;
  }

  .nav-links-list {
    display: block;
    text-align: center;
  }

  .nav-links-list li a {
    padding: 5px 0;
    display: block;
  }
}