* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;

}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

section {
  overflow: auto;
}

/* Utility classes */

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-primary {
  color: #333;
  background-color: #f7c08a;
}

.btn {
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.1rem;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.btn-dark {
  background-color: #333;
  color: #f4f4f4;
}

.btn {
  cursor: pointer;
}


/* Navbar */

nav {
  background-color: #333;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 1rem;
}

nav h1 {
  padding: 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-links-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links-list li a {
  padding: 1.3rem;
  color: #fff;
}

.nav-links-list li a:hover {
  background-color: #5f5f5f;
  color: #f7c08a;
}

/* Title Section */

.header-section {
  background-image: url("../img/showcase.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

.title-container h1 {
  font-size: 2.5rem;
  line-height: 1.3em;
}

.title-container h2 {
  font-size: 2rem;
}

.title-container p {
  margin-bottom: 2rem;
}

/* Info Section */

.info-section {
  display: flex;
  height: 450px;
}

.info-img {
  background-image: url("../img/photo-1.jpg");
  background-repeat: no-repeat;
  width: 50%;
}

.info {
  width: 50%;
  overflow: hidden;
  padding: 50px 30px;
  text-align: center;
}

.info h1 {
  font-size: 2.5rem;
}

.info p {
  padding-bottom: 40px;
}

/* Features */

.features {
  display: flex;
}

.box {
  width: 33.33%;
  padding: 50px;
  text-align: center;
}

.box i {
  font-size: 3rem;
}

/* About Section */

.about-section {
  padding: 50px 0;
}

.about-details {
  display: flex;
}

.about-left {
  width: 50%;
}

.about-left h1 {
  font-size: 2.5rem;
}

.about-right {
  text-align: center;
  width: 50%;
}

.about-right img {
  width: 70%;
  border-radius: 100%;
}

/* About Section */

.testimonials {
  padding: 50px 0;
  background-image: url("../img/test-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.testimonial-title {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  padding: 0 0 40px 0;
}

.testimony-div {
  display: flex;
  justify-content: space-between;
}

.testimony {
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.testimony img {
  width: 100px;
  border-radius: 100%;
}

/* Contact Form */

.contact-form {
  padding: 50px 0;
}

.contact-form h1 {
  text-align: center;
  font-size: 2.5rem;
}


.form-group input,
.form-group textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px #ddd solid;
  padding: 10px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

.form-group textarea {
  height: 200px;
}

/* Contact Info */

.contact-div {
  display: flex;
}

.box h3 {
  margin-top: 15px;
}

/* Footer */

footer {
  padding: 30px;
  background-color: rgb(73, 73, 73);
}

footer p {
  margin: 0;
  color: #fff;
  text-align: center;
}